/*CSS Page Software Guild*/

html
{
	overflow-x: hidden;
}
body 
{
	font-family: "Courier New", Courier, monospace;
	margin: 0;
	background-color: #FFEEEC;
	color:#707070FF;
	font-size: 16pt;
	
}
/*#wrapper
{
	max-width: 90%;
	margin: 0 auto;
	border: solid black;
	border-width: 2px 4px 2px 4px;
	border-radius: 5px 5px 5px 5px;
	background-color: #0C525EFF;
}*/

.font-size-down-center
{
	font-size: .55em;
	text-align: center;
	display: inline;
}
.font-size-down
{
	font-size: .65em;
	text-align: center;
	
}
header
{
	text-align: center;
	background-color: #639B99FF;
	background-image: url("../img/bg3.png");
	min-height: 250px;
	display: inline-block;
	width: 100%;
}
header h1
{
	margin:0;
	margin-top: 25px;
	font-size: 5em;
	font-family: Optima, Segoe,  'Segoe UI', Candara, Calibri, Arial, sans-serif;
	color: #DDDDDDFF;
}

header i
{
	margin-top: 50px;
	margin-bottom: 10px;
}
header .fa-github-square, .fa-facebook-square
{
	color: #DDDDDDFF;
	font-size: 2.5em;
}

nav
{
	
	text-align: right;
	max-width: 100%;
	background-color: #1C1C1CFF;
	padding-top: 25px;
	padding-bottom: 25px;
	
}
nav a
{
	color: white;
	text-decoration: none;
	margin-right: 15px;
	font-size: .95em;
	
}

aside *
{
	margin: 0;
	text-align: left;
}

aside
{
	float:left;
	max-width: 14%;
	font-size: .9em;
	padding: 15px;
	color: white;
	background-color:#1C1C1CDE;
	display: none;
	
	
}
aside p
{
	text-indent: 10px;
	font-size: .9em;
}

.left-pane
{
	
	color: #262626FF;
	font-size: 1.5em;
}

article .left-pane a
{
	
	text-decoration: none;

}



article .about 
{
	max-width: 60%;
	font-size: 1em;
	text-align: left;
	margin:0 auto;
	margin-bottom: 5%;
	margin-top: 2.5%;
	
}

article .about h2
{
	margin: 0;
	margin-top: 15px;
	font-size: 1.5em;
}

article .about p
{
	margin: 0px;
	margin-top: 15px;
}
article .meeting-info
{
	max-width: 70%;
	margin: 0 auto;
	margin-bottom: .5%;
	text-align: center;

}
article .meeting-info p
{
	margin: 0;
}
footer *
{
	margin: 0;
	font-size: .8em;
	padding: 0;
	color: white;
}
footer
{
	display: inline-flex;
	width: 100%;
	position: relative;
	background-color: #1C1C1CFF;
	height: 225px;
	font-size: 12pt;

}


footer #copyright
	{	
		display: inline-flex;
		max-width: 100%;
		font-size: 1em;
		background-color: initial;
		margin-right:10px;
		position: absolute;
		bottom: 0px;
		right: 0px;
		padding-bottom: 5px;

	}
footer #contact
	{	
		display: inline-flex;
		max-width: 80%;
		background-color: initial;
		margin: 0 auto;
		margin-top: 15px;
		font-size: 2.1em;
		



	}
#contact a
{
	text-decoration: none;
}
img
{
	max-width: 100%;
	height: auto;
	width: 360px;
	display: none;
}





