/*CSS Page Software Guild*/
body 
{
	font-size: 16pt;
	font-family: Calibri, Candara, Segoe, 
	'Segoe UI', Optima, Arial, sans-serif;
	background-color: #447B87FF;
	background-image: url("../img/bg3.png");
}
#wrapper
{
	background-color:#ECF7F7FF;
	max-width: 70%;
	margin:0 auto;
}
header
{
	text-align: center;
	background-color: black;
}
nav
{
	text-align: center;
	background-color: black;
}
nav a
{
	color: white;
	text-decoration: none;
	margin-right: 15px;
	font-size: 1.4em;
}
.left-pane
{
	margin: 0 auto;
	text-align: center;
	display: inline-flex;
	border-left: solid 2px black;
}

aside
{
	float:left;
	width: 20%;
	font-size: .9em;
	background-color:#DBEDEDFF;
	padding: 5px;
	border-right: solid black 2px;

}
aside *
{
	margin: 0;
	text-align: left;

}

.text
{
	background-color: white;
}

article
{
	
	float:left;
	font-size: 1.5em;
}

article *
{
	margin:0;
	padding:0;
}
article p
{
	font-size: .85em;
	padding: 10px;
	max-width: 80%;
	margin:0 auto;
	text-align: left;
	text-indent: 16px;
	
}
footer *
{
	margin: 0;
	font-size: .8em;
	color: white;
	background-color: black;
	padding: 0;
}
footer
{
	text-align: center;
	background-color: black;
}

img
{
	max-width: 100%;
	height: auto;
	width: 460px;
}
@media screen and (max-width: 1080px)
{
	#wrapper
	{
		max-width: 90%;
	}
	.left-pane
	{
		display: inline-block;
		max-width: 100%;
		margin:0 auto;
		border-collapse: collapse;
		border: solid black 2px;
	}
	article
	{
		max-width: 100%;
	}
	aside
	{
		display: inline-block;
		float:initial;
		width: 100%;
		margin:0 auto;
		
		border-right: initial;
		padding: 0;
	}

	aside p 
	{
		text-align: center;
		font-size: .75em;
		margin:0 auto;

	}
	aside h3 
	{
		text-align: center;
		font-size: .95em;
	}
}
@media screen and (max-width:680px)
{
	
	article p
	{
		font-size: .75em;
	}
	article a
	{
		font-size: .65em;
	}
	footer
	{
		font-size: .85em;
		display: flex;
		width: 100%;
		position: relative;
		padding-left: 7px;

	}
	footer #contact
	{
		display: run-in;
		float:left;
		text-align: left;
		margin-left: 2px;
	}

	#contact a
	{
		text-align: right;
	}
	footer #copyright
	{	
		bottom: 0;
		position: absolute;
	}
	nav
	{
		font-size:.7em;
	}
}

@media screen and (max-width: 375px)
{
	article
	{
		font-size: 1em;
	}
	nav
	{
		font-size: .5em;
	}
}


