<?xml version="1.0" ?>
<Event>
	<information>
		<name>Event 1</name>
		<day>9</day>
		<description>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo sem sed nulla euismod, in pulvinar diam congue. Cras ornare augue mi, vel tempus lacus aliquet vel. Nunc molestie sem vitae quam finibus gravida. Aenean ligula nunc, viverra eu ipsum at, imperdiet auctor leo. Suspendisse et enim consectetur, interdum enim eget, faucibus massa. Suspendisse potenti. Nam sit amet sem condimentum, hendrerit justo nec, semper erat. Praesent tempus venenatis leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi a neque tristique, iaculis nisi nec, euismod dui. Curabitur vitae libero et orci dignissim consectetur. Praesent faucibus, velit nec vehicula placerat, enim metus tincidunt arcu, aliquam feugiat enim lacus ut justo. Fusce non odio lectus.</description>
	</information>
</Event>